<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>MaPSP</title>
<link href="css/map.css" rel="stylesheet">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyApOQcevswZWaKlm1RtUWySDipXywDDdUA&callback=initAutocomplete&libraries=places&v=weekly"
	defer></script>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div id="success" class="alert alert-success">
		<strong id="suctxt"></strong>
		<button type="button" class="close" aria-label="Close"
			onclick="this.parentElement.style.display='none';">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="container">
		<div class="row top-buffer">
			<form th:action="@{/logout}" method="post">
				<button class="btn btn-secondary" type="submit">Logout</button>
				<button class="btn btn-secondary" id="badm" type="button">Admin</button>
				<input id="hid" type="hidden" th:value="${hide}" name="hid" />
			</form>
		</div>
		<div class="row top-buffer">
			<div class="col-sm-8">
				<form id="sv" th:action="@{/save}" method="post">
					<textarea id="ta" rows="6" cols="70"></textarea>
					<button class="btn btn-secondary" id="bsv" type="button">Send</button>
					<button class="btn btn-secondary" id="bedi" type="button">Edit</button>
				</form>
			</div>
			<div class="col-sm-4">
				<form th:action="@{/delfromlist}" method="post">
					<select class="form-control" id="task" name="task">
						<option value="0">Wybierz zdarzenie</option>
						<option th:each="event : ${events}" th:value="${event.id}"
							th:text="${event.opis}"></option>
					</select>
					<button id="delbtn" class="btn btn-secondary" type="button">Delete</button>
				</form>
			</div>
		</div>
	</div>
	<input id="pac-input" class="controls" type="text"
		placeholder="Search Box" />
	<div id="map" class="row top-buffer"></div>
	<script src="js/map.js"></script>
</body>
</html>